[submodule "modules/common"]
	path = modules/common
	url = https://github.com/aerospike/aerospike-common.git
	ignore = dirty
[submodule "modules/mod-lua"]
	path = modules/mod-lua
	url = https://github.com/aerospike/aerospike-mod-lua.git
	ignore = dirty
[submodule "modules/jansson"]
	path = modules/jansson
	url = https://github.com/aerospike/jansson.git
	ignore = dirty
[submodule "modules/telemetry"]
	path = modules/telemetry
	url = https://github.com/aerospike/aerospike-telemetry-agent.git
	ignore = dirty
[submodule "modules/jemalloc"]
	path = modules/jemalloc
	url = https://github.com/aerospike/jemalloc.git
	ignore = dirty
[submodule "modules/abseil-cpp"]
	path = modules/abseil-cpp
	url = https://github.com/aerospike/abseil-cpp.git
	ignore = dirty
[submodule "modules/s2geometry"]
	path = modules/s2geometry
	url = https://github.com/aerospike/s2geometry.git
	ignore = dirty
[submodule "modules/libbacktrace"]
	path = modules/libbacktrace
	url = https://github.com/aerospike/libbacktrace.git
	ignore = dirty
[submodule "modules/lua"]
	path = modules/lua
	url = https://github.com/aerospike/lua.git
	ignore = dirty
