[submodule "modules/common"]
	path = modules/common
	url = https://github.com/aerospike/aerospike-common.git
	ignore = dirty
[submodule "modules/mod-lua"]
	path = modules/mod-lua
	url = https://github.com/aerospike/aerospike-mod-lua.git
[submodule "modules/jansson"]
	path = modules/jansson
	url = https://github.com/aerospike/jansson.git
	ignore = dirty
[submodule "modules/lua-core"]
	path = modules/lua-core
	url = https://github.com/aerospike/aerospike-lua-core.git
[submodule "modules/luajit"]
	path = modules/luajit
	url = https://github.com/aerospike/luajit.git
[submodule "modules/s2-geometry-library"]
	path = modules/s2-geometry-library
	url = https://github.com/aerospike/s2-geometry-library.git
[submodule "modules/telemetry"]
	path = modules/telemetry
	url = https://github.com/aerospike/aerospike-telemetry-agent.git
[submodule "modules/jemalloc"]
	path = modules/jemalloc
	url = https://github.com/aerospike/jemalloc.git
	ignore = dirty
